<%- include('./partials/header') %>

<title>Dev Hive</title>
<h1>Home Page</h1>
totalPosts: <%= postCount %> newestPost: <%= newestPost.title %> mostPop: <%=
mostPopularPost.title %> <%- include('./partials/footer') %>
