<%- include('./partials/header') %>

<title>Dev Hive</title>
<div class="landing-container">
  <div class="grid-container">
    <div class="total-posts">
      <p class="post-title">Post Count</p>
      <p class="post-number"><%= postCount %></p>
    </div>

    <div class="newest-post">
      <p class="new-post-head">Newest Post</p>
      <p class="new-post-title">'<%= newestPost.title %>'</p>
    </div>

    <div class="trending-post">
      <p class="trending-post-title">Trending Post</p>
      <p class="trending-post-content">'<%= mostPopularPost.title %>'</p>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
